.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0);
}

.appContent {
  width: 100%;
  max-width: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 3rem;
}

.intro {
  color: white;
  margin: 3rem;
  padding: 1rem;
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
}

.password {
  margin-top: 4rem;
}

.messagesList {
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.messagesMessage {
  display: flex;
  margin-top: 10px;
}

.messagesMessage.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.avatar {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.messagesMessage > .avatar {
  margin: 0 10px -10px;
}

.username {
  color: rgb(0, 255, 98);
  font-size: 14px;
}

.messageContent > .username {
  padding-bottom: 4px;
}

.messageContent > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: #2d2d2d;
  color: white;
  display: inline-block;
}

.members {
  border-bottom: solid #ffffff;
  padding: 8px;
  color: white;
}

.membersCount {
  margin-bottom: 1rem;
}

.membersList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.membersList > .member {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 8px;
}

.member > .avatar {
  margin-right: 5px;
  height: 24px;
  width: 24px;
}

.currentMember > .messageContent .text {
  background-color: rgb(3, 82, 0);
  border-top-right-radius: 0;
  color: white;
}

.typingIndicator {
  color: gray;
  font-size: 14px; 
}